:root {
  --fondo: #FCF8F5;
  --color-boton: #ffee00;
  --blanco: #FFF;
  --cremita: #FCF8F5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--blanco);
}
.contenedor_portada {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  background-image: url(../img/cafe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 480px) {
  .contenedor_portada{
    height: 50vh;
  }
}
.primer-fuente{
  color: white;
  font-size: 3rem; 
 
}
@media (max-width: 480px) {
  .primer-fuente{
    font-size: 1rem;
  }
}

.color-tamanio{
  color: yellow;
  font-size: 8rem;
}

@media (max-width: 480px) {
  .color-tamanio{
    font-size: 2.5rem;
  }
}

.inf-portada{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}

.boton{
  background-color: var(--color-boton);
  color: brown;
  font-size: 2rem;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  width: 15%;
}

@media (max-width: 480px) {
  .boton{
    font-size: 0.5rem;
    width: 50%;

  }
}


/* Segunda sección */

.posicionarElementos{
  color: black;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  
}

@media (max-width: 480px) {
  .posicionarElementos{
    flex-direction: column;
  }
}
.ancho{
  width: 50%;


}
.img-fondo{
  background-image: url(../img/caffe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 75%;
}


/* Tercera Sección  */

.contenedor__productos {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  background-color: var(--fondo);
  align-items: center;
}

@media (max-width: 480px) {
  .contenedor__productos {
    flex-direction: column;
    height: auto;
  }
}


.contenedor__item {
  height: 60%; 
  margin: 2rem;
  box-shadow: 1px 1px 1px 1px;
}

@media (max-width: 480px) {
  .contenedor__item {
    flex-direction: column;
    display: flex;
    text-align: center;
  }
}

.contenedor__imagen_item {
  background-image: url(../img/card-tres.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 75%;
}

.tamanio_de_texto{
  font-size: 3rem; 
  margin-bottom: 3rem;
}

@media (max-width: 480px) {
  .tamanio_de_texto {
    text-align: center;
  }
}

.contenedor__item:nth-child(1) a{
  background-color: var(--color-boton);
  color: var(--blanco);
  padding: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}

/* Estilos cuarta seccion */

.cuarta-seccion {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--cremita);
}

.cuarta-seccion__contenedor {
  display: flex;
  margin: .5rem;
  flex-direction: column;
  margin: 2rem 4rem;
  height: 100vh;
}

@media (max-width: 480px) {
  .cuarta-seccion__contenedor{
    width: 100%;
    margin: 0;
    height: auto;
  }
}

.cuarta-seccion p {
  width: 50%;
}


.cuarta-seccion__titulo {
  font-size: 5rem;
  font-weight: bold;
}


@media (max-width: 480px) {
  .cuarta-seccion__titulo{
    font-size: 3rem;
  }
}

.cuarta-seccion__tarjetas {
  display: flex;
  height: 100%;
}

@media (max-width: 480px) {
  .cuarta-seccion__tarjetas{
    flex-direction: column;
    height: auto;
  }
}

.cuarta-seccion__tarjeta {
  margin: 1rem;
}

@media (max-width: 480px) {
  .cuarta-seccion__tarjeta{
    
  }
}

.cuarta-seccion__tarjeta-imagen {
  height: 100%;
  background-image: url(../img/card-tres.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 480px) {
  .cuarta-seccion__tarjeta-imagen{
    height:50vh;
  }
}

.cuarta-seccion__tarjeta-descripcion {

}

.cuarta-seccion__tarjeta-descripcion p:nth-child(1) {
  font-weight: bold;
  font-size: 1.5rem;
}


/* Fin Estilos cuarta seccion */

/* Inicio estilos quinta seccion  */

.quinta-seccion {
  height: 100vh;
  background-color: purple;
}

/* Fin estilos quinta seccion  */

