:root {
  --fondo: #FCF8F5;
  --color-boton: #dd9d4c;
  --blanco: #FFF;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--blanco);
}
.contenedor_portada {
  border: 1px solid indigo;
  display: flex;
  height: 75vh;
  justify-content: space-around;
  background-image: url(../img/cafe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
}

.color-blanco{
  color: white;
}
.tamanio-fuente{
  font-size: 5em;
}

.boton{
  background-color: var(--color-boton);
  border: 1px solid brown;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 10px;
}
/* Segunda sección */
.posicionarElementos{
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  
}
.ancho{
  width: 50%;


}
.img-fondo{
  background-image: url(../img/card-tres.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 75%;
}

/* Tercera Sección  */

.contenedor__productos {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  background-color: var(--fondo);
  align-items: center;
}

.contenedor__item {
  height: 60%; 
  margin: 2rem;
  box-shadow: 1px 1px 1px 1px;
}

.contenedor__imagen_item {
  background-image: url(../img/card-tres.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 75%;
}

.tamanio_de_texto{
  font-size: 3rem; 
  margin-bottom: 3rem;
}

.contenedor__item:nth-child(1) a{
  background-color: var(--color-boton);
  color: var(--blanco);
  padding: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}