:root {
  --fondo: #FCF8F5;
  --color-boton: #F2B705;
  --blanco: #FFF;
  --cremita: #FCF8F5;
  --fuente_pacifico:'Pacifico', cursive;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--blanco);
}
.contenedor_portada {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  background-image: url(../img/cafe.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000;
  background-position: 10% 10% 10px center 50px;
  /* background: blue url(../img/cafe.jpg) center center cover no-repeat fixed; */
}

@media (max-width: 480px) {
  .contenedor_portada{
    height: 50vh;
    background-attachment: unset;
  }
}
.primer-fuente{
  color: white;
  font-size: 4rem;
  text-shadow: 2px 2px 2px black;
  font-family: var(--fuente_pacifico); 
  text-transform: lowercase;
 
}
@media (max-width: 480px) {
  .primer-fuente{
    font-size: 1.5rem;
  }
}

.color-tamanio{
  color: yellow;
  font-size: 8rem;
  text-shadow: 2px 2px 2px black;
}

@media (max-width: 480px) {
  .color-tamanio{
    font-size: 3rem;
  }
}

.inf-portada{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}

.boton{
  background-color: var(--color-boton);
  color: brown;
  font-size: 2rem;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  width: 15%;
}

@media (max-width: 768px) {
  .boton{
    width: 50%;
  }
}

@media (max-width: 480px) {
  .boton{
    font-size: 0.5rem;
    width: 50%;

  }
}


/* Segunda sección */

.posicionarElementos{
  color: black;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-bottom: 1.7rem;
}

.posicionarElementos .ancho p {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .posicionarElementos .ancho p{
    font-size: 1.5rem;
    
  }
}

@media (max-width: 480px) {
  .posicionarElementos {
    flex-direction: column;
  }
  .posicionarElementos .ancho p{
    font-size: 1rem; 
  }
}

.ancho{
  width: 50%;
  margin: 2rem;
}
@media (max-width: 480px) {
  .ancho{
    margin: 1rem;
    width: 80%;
  }
}
.img-fondo{
  background-image: url(../img/caffe.jpg);
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 10% 10% 10px center 50px;
  height: 75%;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .img-fondo{
    height: 45vh;
  }
}
@media (max-width: 480px) {
  .img-fondo{
    height: 80vh;
  }
}

/* Tercera Sección  */

.contenedor__productos {
  display: flex;
  justify-content: space-around;
  background-color: var(--fondo);
  align-items: center;
  background-color: #fdf3df;
  height: auto;
}

@media (max-width: 480px) {
  .contenedor__productos {
    flex-direction: column;
    /* height: auto; */
  }
}

.contenedor__item {
  /* height: 60%;  */
  margin: 2rem;
  width: 25%;
  display: flex;
  flex-direction: column
}

.contenedor__item:nth-child(1) {
  justify-content: center;
}

.contenedor__item:nth-child(1) h2 {
  font-size:2em;
  text-align: center;
}

.contenedor__item:nth-child(1) a{
  background-color: var(--color-boton);
  color: var(--blanco);
  padding: .5rem;
  text-decoration: none;
  font-size: 1.2rem;
  width: auto;
  text-align: center;
}

@media (max-width: 480px) {
  .contenedor__item {
    flex-direction: column;
    display: flex;
    text-align: center;
    width: auto;
  }
}

.contenedor__imagen_item img {
  width: 100%;
  height: auto;
}

.tamanio_de_texto{
  font-size: 3.5rem; 
  margin-bottom: 3rem;
}

@media (max-width: 480px) {
  .tamanio_de_texto {
    text-align: center;
    font-size: 3rem; 
  }
}

.contenedor__item div:nth-child(2) span {
  font-weight: bold;
  font-size: 1.5em;
}
.contenedor__item div:nth-child(2) p{
  font-size: 1.2em;
}

/* Estilos cuarta seccion */

.cuarta-seccion {
  /* background-color: var(--cremita); */
  /* height: 100vh; */
  display: flex;
  align-items: center;
}

.cuarta-seccion__contenedor {
  display: flex;
  margin: .5rem;
  flex-direction: column;
  margin: 2rem 1rem;
  /* height: 100vh; */
  height: 100%;
}

@media (max-width: 480px) {
  .cuarta-seccion__contenedor{
    width: 100%;
    margin: 0;
    height: auto;
  }
}

.cuarta-seccion p {
  /* width: 50%; */
  text-align: center;
}


.cuarta-seccion__titulo {
  font-size: 3.5rem;
  font-weight: bold;
}


@media (max-width: 480px) {
  .cuarta-seccion__titulo{
    font-size: 3rem;
    padding: .2rem;
  }

  .cuarta-seccion__titulo p {
    width: 100%;
  }
}

.cuarta-seccion__tarjetas {
  display: flex;
  height: 100%;
}

@media (max-width: 480px) {
  .cuarta-seccion__tarjetas{
    flex-direction: column;
    height: auto;
  }
}

.cuarta-seccion__tarjeta {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  .cuarta-seccion__tarjeta{
    
  }
}

.cuarta-seccion__tarjeta-imagen {
  height: 100%;
  /* background-image: url(../img/card-tres.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
  /* width: 50%; */
  height: auto;
}

.cuarta-seccion__tarjeta-imagen img {
  width: 100%;
  height: auto;
}

@media (max-width: 480px) {
  .cuarta-seccion__tarjeta-imagen{
    /* height:50vh; */
  }
}

.cuarta-seccion__tarjeta-descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cuarta-seccion__tarjeta-descripcion p:nth-child(1) {
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;  
}

.cuarta-seccion__tarjeta-descripcion p:nth-child(2) {
  width: 100%;  
}


/* Fin Estilos cuarta seccion */

/* Inicio estilos quinta seccion  */

.quinta-seccion {
  background-color: var(--color-boton);
}

/* Fin estilos quinta seccion  */

.quinta-seccion-bg {
  background-image: url(../img/cuarta.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #000;
  background-position: 10% 10% 10px center 50px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.quinta-seccion-titulo {
  color: #0a0a0afa;
  font-size: 2.3rem;
  font-weight: bold;
  height: auto;
  margin-bottom: 2rem;
}

@media (max-width: 480px) {
  .quinta-seccion-titulo {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
  }
}

.quinta-seccion-direcciones {
  display: flex;
  height: auto;
  color: whitesmoke;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 480px) {
  .quinta-seccion-direcciones {
    flex-direction: column;
    text-align: center;
  }
}

.quinta-seccion-direccion {
  color:rgb(10, 10, 0);
  font-size: 1.5rem;
  font-weight: bold;
}

.quinta-seccion-direccion p {
  font-size: 1.5rem;
}

.quinta-seccion-bg-footer {
  border: 1px solid black;
  display: flex;
  color: white;
  justify-content: space-between;
  padding: .5rem;
}

.quinta-seccion-bg-footer p {
  text-shadow: 1px 1px 1px black;
}

@media (max-width: 480px) {
  .quinta-seccion-bg-footer {
    flex-direction: column;
    text-align: center;
  }
}