:root {
  --fondo: #FCF8F5;
}

body {
  background-color: white;
}

.contenedor__productos {
  border: 1px solid red;
  display: flex;
  height: 75vh;
  justify-content: space-around;
  background-color: var(--fondo);
}

.contenedor__item {

}