:root {
  --fondo: #FCF8F5;
  --color-boton: #dd9d4c;
  --blanco: #FFF;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--blanco);
}
.contenedor_portada {
  border: 1px solid indigo;
  display: flex;
  height: 100vh;
  justify-content: space-around;
  background-image: url(../img/cafe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
}
.primer-fuente{
  color: white;
  font-size: 2rem; 
 
}
.color-tamanio{
  color: white;
  font-size: 7rem;
}

.inf-portada{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
}

.color-blanco{
  color: white
}
.boton{
  background-color: var(--color-boton);
  font-size: 2rem;
  padding-top: 10px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 10px;
  width: 15%;
  text-transform: uppercase;

}


/* Segunda sección */

.posicionarElementos{
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  
}
.ancho{
  width: 50%;


}
.img-fondo{
  background-image: url(../img/card-tres.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 75%;
}


/* Tercera Sección  */

.contenedor__productos {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  background-color: var(--fondo);
  align-items: center;
}

.contenedor__item {
  height: 60%; 
  margin: 2rem;
  box-shadow: 1px 1px 1px 1px;
}

.contenedor__imagen_item {
  background-image: url(../img/card-tres.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 75%;
}

.tamanio_de_texto{
  font-size: 3rem; 
  margin-bottom: 3rem;
}

.contenedor__item:nth-child(1) a{
  background-color: var(--color-boton);
  color: var(--blanco);
  padding: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}

/* Estilos cuarta seccion */

.cuarta-seccion {
  border: 1px solid red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cuarta-seccion__contenedor {
  border: 1px solid red;
  display: flex;
  margin: 1rem;
  flex-direction: column;
}


.cuarta-seccion__titulo {
  border: 1px solid blue;
  font-size: 3rem;
  font-weight: bold;
}

.cuarta-seccion__tarjetas {
  display: flex;
  height: 50vh;
}

.cuarta-seccion__tarjeta {
  margin: 1rem;
}

.cuarta-seccion__tarjeta-imagen {
  height: 100%;
  background-image: url(../img/card-tres.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.cuarta-seccion__tarjeta-descripcion {

}


/* Fin Estilos cuarta seccion */